

     <tbody>
     <h1>Details of Events </h1>

    <% @event each do |event| %>
        <tr>
        <td><%= event.title %></td>
         <td><%= event.date %></td>
        </tr>
    <% end %>
    </tbody>